* {
    padding: 0;
    margin: 0;

}

body {
    background-color: black;
}

#game {
    position: relative;
    width: 500px;
    height: 200px;
    border: 1px solid white;
    margin: 20px auto;
    overflow: hidden;
    /* to keep the objects to stay inside box */
}

#playAgain {
    background-color: aquamarine;
    border-radius: 5px;
}

#character {
    width: 50px;
    position: absolute;
    bottom: 0;

}

.animate {
    animation: jump 500ms;
}

@keyframes jump {
    0% {
        top: 150px;
    }

    30% {
        top: 80px;
    }

    70% {
        top: 80px;
    }

    100% {
        top: 150px;
    }
}

#block {
    width: 40px;
    height: 40px;
    /* background-color: bisque; */
    position: relative;
    top: 110px;
    /*position from under text*/
    left: 480px;

}

.block-move {
    animation: block infinite linear;
    animation-duration: 900ms;
}

@keyframes block {
    0% {
        left: 480px;
    }

    100% {
        left: -30px;
    }
}

.flex-centered {
    display: flex;
    justify-content: center;
}

.title {
    width: 300px;
}

.youLose,
.hidden {
    visibility: hidden;
}


.text {
    color: white;
    text-align: center;
}

.float {
    float: inline-start;
}

.absolute {
    position: absolute;
    top: 5px;
    left: 50%;
    /* margin: 0 auto; */
    transform: translateX(-50%);
}